@{
    ViewData["Title"] = "Формат данных";
}
<h1>@ViewData["Title"]</h1>

<p>
    Для использования информационной системы необходимо подготовить данные в виде файлов Microsoft Excel (xls или xlsx)
    или CSV (разделитель полей: ";", разделитель целой и дробной части: ".", кодировка UTF-8 с BOM).
    Формат зависит от назначения файла:
</p>
<ul>
    <li>для обучения;</li>
    <li>для прогнозирования (опционально).</li>
</ul>

<h2>Формат файла для обучения</h2>
<p>Первая строка содержит названия столбцов (и не обрабатывается). Вторая и последующие строки содержат данные (один объект на строке).</p>
<p>Первый столбец содержит имя объекта (как правило, это формула соединения).</p>
<p>Второй столбец содержит значение целевой функции (вещественное число).</p>
<p>Третий и последующие столбцы содержат признаковое описание объекта, трактуемое как вектор вещественных чисел. Длина вектора для всех объектов должа быть одинакова.</p>
<h2>Формат файла для прогнозирования</h2>
<p>Первая строка содержит названия столбцов (и не обрабатывается).</p>
<p>Второй столбец пуст (значения целевой функции неизвестны).</p>
<p>Третий и последующие столбцы содержат признаковое описание объекта, трактуемое как вектор вещественных чисел. Длина вектора для всех объектов должа быть одинакова и совпадать с длиной вектора в обучаюей выборке. Порядок следования свойств в векторе - как в обучающей выборке.</p>

<h2>Примеры файлов Excel (XLS / XLSX) и CSV</h2>
<ul>
    <li><a href="~/Example/TrainingSet.xls">XLS</a> / <a href="~/Example/TrainingSet.xlsx">XLSX</a> / <a href="~/Example/TrainingSet.csv">CSV</a> для обучения;</li>
    <li><a href="~/Example/Prediction.xls">XLS</a> / <a href="~/Example/Prediction.xlsx">XLSX</a> / <a href="~/Example/Prediction.csv">CSV</a> для прогнозирования.</li>
</ul>
