@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Система для цифрового моделирования в металлургии</h1>
    <div class="container">
        <img src="~/i/imet.jpg" class="img-fluid me-2" alt="ИМЕТ РАН" />
        <img src="~/i/sev.jpg" class="img-fluid ms-2" alt="Северсталь" />
    </div>
    <p>Система разработана на базе ИМЕТ РАН.</p>
</div>

<partial name="UserStatus" />
