@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    ViewData["Title"] = localizer["h1"];
}
<div class="text-center">
    <h1 class="display-4">@localizer["h1"]</h1>
    @localizer["bodyHtml"]
</div>
@if (lang == "ru")
{
    <partial name="UserStatus" />
}
else
{
    <partial name="UserStatusEng" />
}
