@{
    ViewData["Title"] = "Политика использования";
}
<h1>@ViewData["Title"]</h1>

<p>Для некоммерческого использования в ИМЕТ РАН.</p>
<p>Используется библиотека <a href="https://scikit-learn.org/stable/" target="_blank">scikit-learn</a> и ASP.Net Core.</p>
